<div class="container mt-4">
<h1>{{ actualizando ? 'ACTUALIZAR USUARIO' : 'NUEVO USUARIO' }}</h1>
<section class="formContainer">
    <form [formGroup]="reactiveForm" (ngSubmit)="cargarDatos()">
        <div>
            <label for="first_name">Nombre Usuario:</label>
            <input type="text" id="first_name" class="form-control" formControlName="first_name">
            @if (checkControl('first_name','required')){
            <p class="error">Este campo es obligatorio.</p>
            }
            @if (checkControl('first_name','minlength')){
            <p class="error">La longitud mínima es de 3 caracteres.</p>
            }
        </div>
        <div>
            <label for="last_name">Apellido Usuario:</label>
            <input class="form-control"type="text" id="last_name" formControlName="last_name">
            @if (checkControl('last_name','required')){
                <p class="error">Este campo es obligatorio.</p>
            }
            @if (checkControl('last_name','minlength')){
                <p class="error">La longitud mínima es de 3 caracteres.</p>
            }
        </div>
        <div>
            <label for="email">Email Usuario:</label>
            <input class="form-control"type="email" id="email"formControlName="email">
            @if (checkControl('email','required')){
                <p class="error">Este campo es obligatorio.</p>
            }
            @if (checkControl('email','email')){
                <p class="error">Este no es un e-mail válido.</p>
            }
        </div>
        <div>
            <label for="image">Imagen Usuario:</label>
            <input class="form-control"type="text" id="image" formControlName="image">
            @if (checkControl('image','required')){
                <p class="error">Este campo es obligatorio.</p>
            }
            @if (checkControl('image','minlength')){
                <p class="error">La longitud mínima es de 3 caracteres.</p>
            }
        </div>
        <button type="submit">
            {{ actualizando ? 'Actualizar Usuario' : 'Guardar Usuario' }}
        </button>
    </form>
</section>
</div>